@use "var" as *;
@use "market_window";
@use "Charts_Window";
@each $font in ("Black", "Bold", "Book", "Medium", "Light") {
    @font-face {
        font-family: "CircularStd #{$font}";
        src: url(/fonts/CircularStd-#{$font}.woff) format("woff");
    }
    @font-face {
        font-family: "CircularStd #{$font} Italic";
        src: url(/fonts/CircularStd-#{$font}Italic.woff) format("woff");
    }
}

@font-face {
    font-family: "MorrisRomanBlack";
    src: url("/fonts/MorrisRomanBlackAlt.ttf") format("opentype");
}
@font-face {
    font-family: "Rise of Kingdom";
    src: url("/fonts/Rise of Kingdom.ttf") format("opentype");
}
* {
    position: relative;
    font-size: 4vmin;
    font-family: "Rise of Kingdom";
    font-weight: 900;
    // -webkit-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
    @include scrollbar(black, white);
    box-sizing: border-box;
}
.screen {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 0;
}
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    background-image: url("/img/zyro-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    main {
        width: 200vw !important;
        max-width: 200vw !important;
        #the_real_root {
            &.window1 {
                transform: translateX(0%);
            }
            &.window2 {
                transform: translateX(-50%);
            }
            width: 200vw !important;
            max-width: 200vw !important;
            height: 100%;
            overflow: auto !important;
            display: flex;
            justify-content: space-around;
            align-items: center;
            transition: all 0.75s cubic-bezier(0.55, 0.085, 0.68, 0.53); /* easeInQuad */
            transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); /* easeInQuad */

            .window {
                height: calc(100% - 4vmin);
                width: calc(50% - 4vmin);
            }
        }
    }
}
