@use "var" as *;

@each $font in ("Black", "Bold", "Book", "Medium", "Light") {
    @font-face {
        font-family: "CircularStd #{$font}";
        src: url(/fonts/CircularStd-#{$font}.woff) format("woff");
    }
    @font-face {
        font-family: "CircularStd #{$font} Italic";
        src: url(/fonts/CircularStd-#{$font}Italic.woff) format("woff");
    }
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
    font-size: 2vmin;
    font-family: "CircularStd Medium";
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.screen {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-color: $dark;

    position: absolute;
    top: 0;
    left: 0;
}
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    cursor: none;
    margin: 0;
    padding: 0;
    border: 0;
    .cursor {
        height: 2.5vmin;
        width: 2.5vmin;
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        /* transform: translate(0%, -100%); */
    }
}
