@use "var" as *;
@media (min-aspect-ratio: 14/9) {
    #Charts_Window {
        flex-wrap: nowrap !important;
    }
}
$box-shadow1: 0 0 0.4vh black;
#Charts_Window {
    background: url("/img/wood-texture.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap-reverse;

    border-radius: 2vmin;
    border: 1vmin solid rgba(1, 1, 1, 0.4);
    backdrop-filter: brightness(0.5);
    overflow: auto;
    padding: 2vh;
    gap: 1vh;
    #wrapper1 {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 30vh;
        justify-content: space-between;
        align-items: center;
        gap: 1vh;
        > * {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 2vh;
            box-shadow: $box-shadow1;
            width: 100%;
            padding: 1vh;
        }
        #chart_items_container {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            #main_item_name {
                text-align: center;
                font-size: 2.4vh;
                color: white;
                text-shadow: 0 0 1vh gold;
            }
            #main_item_img {
                width: 20vh;
                aspect-ratio: 1/1;
            }
            #history_items_container {
                display: flex;
                flex-wrap: nowrap;
                width: 100%;
                overflow: auto;
                .history_items_img {
                    height: 6vh;
                    aspect-ratio: 1/1;
                }
            }
        }
        #handle_chart_datasets {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 0.5vmin;
            .market_row {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                gap: 0.5vh;
                white-space: nowrap;
                font-size: 1.8vh;
                > * {
                    font-size: 1.8vh;
                }
                height: 3vh;
                width: 100%;
                > div {
                    transition: 0.2s ease;
                }
                &.active {
                    color: white;
                    cursor: pointer;
                    &:hover {
                        text-shadow: 0 0 1vmin gold;
                        > div {
                            padding: 0 0.5vh;
                        }
                    }
                    &.hidden {
                        color: gray !important;
                        &:hover {
                            text-shadow: 0 0 1vmin greenyellow !important;
                        }
                    }
                }
                &.disabled {
                    color: black;
                    &:hover {
                        text-shadow: 0 0 1vmin red;
                    }
                    img {
                        filter: brightness(0.2);
                    }
                }

                svg {
                    height: 2vh;
                    aspect-ratio: 1/1;
                    margin-right: 1vh;
                }
                img {
                    height: 100%;
                }
            }
        }
    }
    #wrapper2 {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        gap: 1vh;
        #canvas_container {
            flex: 1;
            min-height: 60vh;
            display: flex;
            justify-content: center;

            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 2vh;
            box-shadow: $box-shadow1;
            &.empty {
                &:after {
                    content: "No Data Found";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    text-shadow: 0 0 1vmin red;
                }
            }
        }
        #time_handler_container {
            height: 5vh;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 2vh;
            * {
                font-size: 2vh;
                color: white;
            }
            > * {
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 2vh;
                box-shadow: $box-shadow1;
                height: 100%;
                padding: 0 2vh;
                gap: 2vh;
            }
            #time_choser_container {
                flex: 1;
                .time_choser {
                    padding: 0 0.5vh;
                    border-radius: 1vh;
                    border: 0.4vh #a3a3a3 outset;
                    background: linear-gradient(0deg, #ac9275 0%, #ffdfb2 100%);
                    cursor: pointer;
                    color: black;
                    &:not(.active) {
                        &:hover {
                            border-style: inset;
                        }
                    }
                    &.active {
                        border-style: inset;
                        background: linear-gradient(0deg, #cfbc55 0%, #f4bb6b 100%);
                    }
                }
            }
            #custom_time_setter_container {
                #start_date,
                #start_date {
                    display: flex;
                    align-items: center;
                    gap: 1vh;
                }
                input {
                    color: black;
                    text-align: center;
                    border-radius: 1vh;
                    border: none;
                    box-shadow: 0 0 1vmin 0.1vmin rgb(146, 146, 146);
                    box-sizing: border-box;
                }
                #submit_button {
                    border: 0.4vmin #a3a3a3 outset;
                    background: linear-gradient(0deg, rgb(42, 42, 42) 0%, rgb(120, 120, 120) 100%);
                    border-radius: 0.5vmin;
                    &:hover {
                        border-style: inset;
                    }
                }
            }
        }
    }
}
